@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination li {
  display: inline-block;
  margin: 0 0.5rem;
}

.pagination li button {
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  color: #4a5568;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination li button:hover,
.pagination li button:focus {
  background-color: #e2e8f0;
}

.pagination li.active button {
  background-color: #2563eb;
  border-color: #2563eb;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .pagination li button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}
